.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 15px 16px 23px;
  border: 1px solid #fff;
  color:#fff;
}

.label {
  margin-left: 15px;
  line-height: 20px;
}

.title {
  font-size: 20px;
}

.subtitle {
  font-size: 12px;
  letter-spacing: 1px;
}